<h2> Name: <%= @student.name %> </h2>
<p> Mod: <%= @student.mod %></p>

    <% @student.ducks.each do |duck|%>
        <p>Duck Name:  <%= duck.name %> , Description: <%= duck.description %> </p>
    <%end%>

<%= button_to "Edit Student", edit_student_path, method: :get %>